.logounpak {
  width: 25%;
  height: 50%;
  top: 135px;
  left: 35%;
  margin: auto;
  justify-content: center;
  position: absolute;
}

.link {
  width: 150px;
  height: 150px;
  text-align: space-between;
}
